@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:wght@100;300;400;700&display=swap");

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  body {
    @apply bg-[#1F1F24] text-[#ecf0f3] tracking-wide;
    font-family: 'Montserrat', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-[#ecf0f3] font-[Montserrat];
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Montserrat];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl border-gray-400 shadow-gray-400 rounded-lg uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
}
